.tabbar-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  margin: 20px auto 0;
  word-break: break-all;
}

.bloc-tabs {
  display: flex;
  border: 0.5px solid #30363d;
  border-radius: 6px;
}
.tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  background: #0d1117;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child) {
  border-right: 0.5px solid #30363d;
}

.active-tabs {
  border-bottom: 1px solid transparent;
  background: rgba(128, 128, 128, 0.075);
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
}

button {
  border: none;
}
.content-tabs {
  width: 100%;
}
.content {
  margin-top: 10px;
  height: 100%;
  display: none;
  border: 0.5px solid #30363d;
  border-radius: 6px;
}
.content h2 {
  padding: 0px 0 5px 0px;
}

.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}
.tab-type-block {
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #30363d;
}
.tab-type-title {
  font-size: 20px;
}
.tab-type-items {
  display: flex;
  flex-direction: row;
}
.tab-type-item {
  padding: 5px 10px;
  background: rgba(230, 108, 2, 0.915);
  color: white;
  border-radius: 5px;
  margin-left: 10px;
}
.tab-abilities-block {
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
}
.tab-abilities-block ul {
  margin-left: 35px;
  padding: 10px;
}
.stats-value {
  background: rgba(230, 108, 2, 0.915);
  color: white;
  padding: 0px 7px;
  border-radius: 10px;
}
