.pokemon-card {
  position: fixed;
  left: 55%;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  height: 500px;
  background: #0d1117;
  border: 0.5px solid #30363d;
  border-radius: 6px;
}
.pokemon-card-top-block {
  width: 90%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pokemon-card img {
  margin-top: 50px;
  width: 250px;
}
.block-main-stats {
  position: relative;
  top: -1px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0 0 6px 6px;
  background: #161b22;
  font-size: 14px;
}

/* .block-main-stats tr:last-child>td {
  border-radius: 0 0 6px 0;
}
.block-main-stats tr:last-child>th {
  border-radius: 0 0 0 6px;
} */
.block-main-stats th,
td {
  /* border: 0.5px solid #30363d; */
  padding: 8px 16px;
}
.block-main-stats tr {
  border-top: 0.5px solid #30363d;
}
.block-main-stats th {
  text-align: start;
}
.block-main-stats td {
  text-align: end;
}
