* {
  padding: 0;
  margin: 0;
}
.container-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.name-pokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.back-page {
  cursor: pointer;
  font-size: 14px;
  margin-right: 10px;
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent;
  padding: 5px 16px;
  border-radius: 6px;
}
.about-title-pokemon {
  font-size: 25px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 0.5px solid #30363d;
}

.id-pokemon {
  padding: 5px;
  background: red;
  color: white;
  border-radius: 20%;
  height: fit-content;
}
.content-pokemon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-left-block {
  display: flex;

  justify-content: center;
  width: 50%;
  height: 100%;
}
.about-left-block img {
  width: 50%;
}
.about-right-block {
  width: 50%;
}
