.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.grid-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  border-radius: 10px;
}
.grid-pokemon-list {
  width: 35%;
  background: #0d1117;
  border: 0.5px solid #30363d;
  border-radius: 6px;
}
.pokemon-link {
  display: block;
  text-decoration: none;
  width: 100%;
}
.pokemonGrid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 0.5px solid #30363d;
}
.pokemonGrid:last-child {
  border: none;
}
.pokemon-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.li-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pokemon-item-li {
  justify-content: space-between;
  height: 60px;
  padding: 0 10px 0 0;
  width: 100%;
}
.pokemon-item-li-left-content img {
  height: 65px;
}
.paginate {
  align-self: center;
}
