.search-container {
  width: 50%;
}
.search-inner {
  width: 100%;
  display: flex;
}
.search-inner input {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  width: 30%;
  height: 20px;
  padding: 3px 5px;
}
.search-inner input::placeholder {
  color: #c9d1d9;
}
.search-inner button {
  color: #c9d1d9;
  background-color: #21262d;
  border-color: rgba(240, 246, 252, 0.1);
  box-shadow: 0 0 transparent;
  padding: 5px 16px;
  border-radius: 6px;
  margin-left: 15px;
}
